h1 {
  color: #f0f !important;
}

/*
 * Source: 
 * https://github.com/markdoc/docs/blob/d86eb4a6b667335bb101d11ff894f8d32b15f411/components/SideBySide.js#L11
 * */
.flex {
  display: flex;
}

.equal-width.left {
  padding-right: 3rem;
  border-right: 1px solid var(--toc-border);
}
@media (prefers-color-scheme: dark) {
  .equal-width.left {
    border-right: 1px solid var(--toc-border-dark);
  }
}
.equal-width.right {
  padding-left: 3rem;
}
.equal-width.column {
  overflow: auto;
  padding-top: var(--default-vertical-spacing);
}
.equal-width {
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .side-by-side {
    flex-direction: column;
  }
  .column {
    overflow: initial;
  }
  .left {
    padding: 0;
    border: none;
  }
  .right {
    padding-top: 1rem;
    padding-left: 0rem;
  }
}
/* End */

.center {
  text-align: center;
}
